#root, body, html {
    height: 100%;
    font-size: 16px;
}
.sider-logo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    height: 4em;
    transition: all 300ms;
}
.sider-logo > a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2em;
}
.sider-logo h1 {
    display: inline-block;
    height: 2em;
    margin: 0 0 0 0.6em;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    vertical-align: middle;
}
.logo {
    display: inline-block;
    width: 2.5em; 
    height: 1.625em; 
    vertical-align: middle;
    background: url('../../public/logo.png') left no-repeat;
    background-size: auto 100%;
    background-position: 0%,50%;
}
ul.ant-menu-inline-collapsed {
    width: 3em;
}
.site-layout .site-layout-background {
    background: #fff;
}
.trigger {
    cursor: pointer;
    padding: 1em;
}
.trigger:hover {
    color: #1890ff;
}

h1.enter-done {
    display: in-block;
}

h1.enter, h1.enter-active, h1.exit, h1.exit-active, h1.exit-done {
    display: none;
}
button.menu-toggle {
    position: absolute;
    bottom: 1em;
    color: white
}