#root, body, html {
    height: 100%;
    font-size: 16px;
}
.sider-logo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    height: 4em;
    transition: all 300ms;
    overflow: hidden;
}
.sider-logo > a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2em;
}
.sider-logo h1 {
    display: inline-block;
    height: 2em;
    margin: 0 0 0 0.6em;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    vertical-align: middle;
}
.logo {
    display: inline-block;
    width: 2.5em; 
    height: 1.625em; 
    vertical-align: middle;
    background: url('../../public/logo.png') left no-repeat;
    background-size: auto 100%;
    background-position: 0%,50%;
}
ul.ant-menu-inline-collapsed {
    width: 3em;
}
.site-layout .site-layout-background {
    background: #fff;
}
.trigger {
    cursor: pointer;
    padding: 1em;
}
.trigger:hover {
    color: #1890ff;
}

button.menu-toggle {
    position: absolute;
    bottom: 1em;
    color: white
}

header.ant-layout-header {
    height: 3em;
    line-height: 3em;
}

.ant-layout-header .pull-right {
    float: right;
    line-height: 3em;
    font-size: 1em;
    min-width: 2.5em;
}
.ant-layout-header .header-icon:hover {
    background-color: #f0f2f5;
    cursor: pointer;
}

ul.header-tabs{
    display: inline-block;
    padding-left: 0;
}
ul.header-tabs > li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}
ul.header-tabs > li.checked {
    color: white;
    user-select: none;
    background-color: #1890ff;
}
ul.header-tabs > li.checked:hover {
    background-color:  rgb(85, 171, 252);;
}
ul.header-tabs > li:hover {
    cursor: pointer;
    background-color: #f0f2f5;
}
.icon-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 0.6em;
}
ul.header-tabs > li:hover > .icon-close {
    top: 0.45em;
    right: 0.45em;
    font-size: 0.65em;
}
.user-info {
    user-select: none;
    position: relative;
}
.user-info > .anticon-user {
    padding-right: 0;
    height: 1em;
    font-size: 1.2em;
}
.user-info > span {
    font-size: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.user-info:hover{
    cursor: pointer;
    background-color: #f0f2f5;
}

.user-info ul.dropdown-menu {
    font-size: 0.75em;
    line-height: 2.5em;
    background-color: white;
    padding: 0.5em 0;
    position: absolute;
    top: 4em;
    right: -0.5em;
    width: 12em;
    border: 1px solid #e0e0e0;
    z-index: 1;
}

ul.dropdown-menu > li {
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
}
ul.dropdown-menu > li:hover {
    background-color: #e0e0e0;
}

li > .dropdown-menu-icon {
    padding-right: 1em;
}
